# Revisión de Campos

Importamos los módulos necesarios para la revisión:

In [1]:
import pandas as pd
import numpy as np

## Fichero de Locales

In [2]:
df_locales = pd.read_csv("locales202312.csv", sep = ";")

In [3]:
df_locales.head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,id_local_agrupado,rotulo,cod_postal,hora_apertura1,hora_apertura2,hora_cierre1,hora_cierre2,fx_carga,fx_datos_ini,fx_datos_fin
0,20000596,2,ARGANZUELA,203,CHOPERA,3,2043,43,440788.6,4471857.5,...,D1,LA CAÑA,28045,09:00,NaN,NaN,22:00,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
1,20000605,2,ARGANZUELA,201,IMPERIAL,1,2107,107,439316.6,4472540.5,...,01,CAFETERIA PIRAMIDES,28005,NaN,NaN,NaN,NaN,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
2,20000669,2,ARGANZUELA,202,ACACIAS,2,2096,96,439770.6,4472407.5,...,M1,BAR MELILLA,28005,NaN,NaN,NaN,NaN,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
3,20000709,2,ARGANZUELA,202,ACACIAS,2,2029,29,440355.6,4472282.5,...,IZ,SUPERMERCADOS SIMPLY,28005,NaN,NaN,NaN,NaN,2023-12-08 07:01:00.047,2023-12-01,2023-12-01
4,20000721,2,ARGANZUELA,201,IMPERIAL,1,2089,89,439312.6,4472870.5,...,C,ARROCERIA IMPERIAL,28005,NaN,NaN,NaN,NaN,2023-12-08 07:01:00.047,2023-12-01,2023-12-01

Obtenemos información general de los datos:

In [4]:
df_locales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151162 entries, 0 to 151161
Data columns (total 48 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_local                   151162 non-null  int64
 1   id_distrito_local          151162 non-null  int64
 2   desc_distrito_local        151162 non-null  object
 3   id_barrio_local            151162 non-null  int64
 4   desc_barrio_local          151162 non-null  object
 5   cod_barrio_local           151162 non-null  int64
 6   id_seccion_censal_local    151162 non-null  int64
 7   desc_seccion_censal_local  151162 non-null  int64
 8   coordenada_x_local         151162 non-null  float64
 9   coordenada_y_local         151162 non-null  float64
 10  id_tipo_acceso_local       151162 non-null  int64
 11  desc_tipo_acceso_local     151162 non-null  object
 12  id_situacion_local         151162 non-null  int64
 13  desc_situacion_local       151162 non-null  object
 14  id_vial_edificio           151162 non-null  int64
 15  clase_vial_edificio        151162 non-null  object
 16  desc_vial_edificio         151162 non-null  object
 17  id_ndp_edificio            151162 non-null  int64
 18  id_clase_ndp_edificio      151162 non-null  int64
 19  nom_edificio               151162 non-null  object
 20  num_edificio               151162 non-null  int64
 21  cal_edificio               151162 non-null  object
 22  secuencial_local_PC        151162 non-null  int64
 23  id_vial_acceso             151162 non-null  int64
 24  clase_vial_acceso          151162 non-null  object
 25  desc_vial_acceso           151162 non-null  object
 26  id_ndp_acceso              151162 non-null  int64
 27  id_clase_ndp_acceso        151162 non-null  int64
 28  nom_acceso                 151162 non-null  object
 29  num_acceso                 151162 non-null  int64
 30  cal_acceso                 151162 non-null  object
 31  coordenada_x_agrupacion    14501 non-null   float64
 32  coordenada_y_agrupacion    14501 non-null   float64
 33  id_agrupacion              151162 non-null  int64
 34  nombre_agrupacion          151162 non-null  object
 35  id_tipo_agrup              151162 non-null  int64
 36  desc_tipo_agrup            151162 non-null  object
 37  id_planta_agrupado         149514 non-null  object
 38  id_local_agrupado          90445 non-null   object
 39  rotulo                     151162 non-null  object
 40  cod_postal                 151162 non-null  int64
 41  hora_apertura1             8796 non-null    object
 42  hora_apertura2             812 non-null     object
 43  hora_cierre1               6311 non-null    object
 44  hora_cierre2               862 non-null     object
 45  fx_carga                   151162 non-null  object
 46  fx_datos_ini               151162 non-null  object
 47  fx_datos_fin               151162 non-null  object
dtypes: float64(4), int64(20), object(24)
memory usage: 55.4+ MB

Las horas de cierre y apertura tienen muy pocos valores no nulos, eliminamos las columnas

In [5]:
df_locales = df_locales.drop(['hora_apertura2', 'hora_cierre2'], axis = 1, )

In [6]:
df_locales.nunique()

id_local                     151162
id_distrito_local                21
desc_distrito_local              21
id_barrio_local                 131
desc_barrio_local               131
cod_barrio_local                  9
id_seccion_censal_local        2418
desc_seccion_censal_local       222
coordenada_x_local            37975
coordenada_y_local            20327
id_tipo_acceso_local              3
desc_tipo_acceso_local            3
id_situacion_local                7
desc_situacion_local              7
id_vial_edificio               6393
clase_vial_edificio              25
desc_vial_edificio             6161
id_ndp_edificio               65696
id_clase_ndp_edificio             1
nom_edificio                      2
num_edificio                    681
cal_edificio                     30
secuencial_local_PC             286
id_vial_acceso                 6555
clase_vial_acceso                25
desc_vial_acceso               6303
id_ndp_acceso                 72142
id_clase_ndp_acceso               1
nom_acceso                        2
num_acceso                      691
cal_acceso                       31
coordenada_x_agrupacion         365
coordenada_y_agrupacion         360
id_agrupacion                   426
nombre_agrupacion               417
id_tipo_agrup                    12
desc_tipo_agrup                  12
id_planta_agrupado               20
id_local_agrupado              3467
rotulo                        80142
cod_postal                       55
hora_apertura1                   63
hora_cierre1                     56
fx_carga                        112
fx_datos_ini                      1
fx_datos_fin                      1
dtype: int64

El número de valores únicos id_local coincide con el número de filas, por lo que no hay ningún id_local duplicado.
Las columnas fx_datos_ini y fx_datos_fin solo tienen un único valor (2023-12-01), por lo que eliminamos ambas columnas.
Lo mismo aplica para las columnas id_clase_ndp_edificio  y id_clase_ndp_acceso, todos los valores indican una dirección normalizada (1), por lo que las columnas no aportan valor

In [7]:
df_locales= df_locales.drop(['fx_datos_ini','fx_datos_fin', 'id_clase_ndp_edificio', 'id_clase_ndp_acceso'], axis = 1);

In [8]:
df_locales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151162 entries, 0 to 151161
Data columns (total 42 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_local                   151162 non-null  int64
 1   id_distrito_local          151162 non-null  int64
 2   desc_distrito_local        151162 non-null  object
 3   id_barrio_local            151162 non-null  int64
 4   desc_barrio_local          151162 non-null  object
 5   cod_barrio_local           151162 non-null  int64
 6   id_seccion_censal_local    151162 non-null  int64
 7   desc_seccion_censal_local  151162 non-null  int64
 8   coordenada_x_local         151162 non-null  float64
 9   coordenada_y_local         151162 non-null  float64
 10  id_tipo_acceso_local       151162 non-null  int64
 11  desc_tipo_acceso_local     151162 non-null  object
 12  id_situacion_local         151162 non-null  int64
 13  desc_situacion_local       151162 non-null  object
 14  id_vial_edificio           151162 non-null  int64
 15  clase_vial_edificio        151162 non-null  object
 16  desc_vial_edificio         151162 non-null  object
 17  id_ndp_edificio            151162 non-null  int64
 18  nom_edificio               151162 non-null  object
 19  num_edificio               151162 non-null  int64
 20  cal_edificio               151162 non-null  object
 21  secuencial_local_PC        151162 non-null  int64
 22  id_vial_acceso             151162 non-null  int64
 23  clase_vial_acceso          151162 non-null  object
 24  desc_vial_acceso           151162 non-null  object
 25  id_ndp_acceso              151162 non-null  int64
 26  nom_acceso                 151162 non-null  object
 27  num_acceso                 151162 non-null  int64
 28  cal_acceso                 151162 non-null  object
 29  coordenada_x_agrupacion    14501 non-null   float64
 30  coordenada_y_agrupacion    14501 non-null   float64
 31  id_agrupacion              151162 non-null  int64
 32  nombre_agrupacion          151162 non-null  object
 33  id_tipo_agrup              151162 non-null  int64
 34  desc_tipo_agrup            151162 non-null  object
 35  id_planta_agrupado         149514 non-null  object
 36  id_local_agrupado          90445 non-null   object
 37  rotulo                     151162 non-null  object
 38  cod_postal                 151162 non-null  int64
 39  hora_apertura1             8796 non-null    object
 40  hora_cierre1               6311 non-null    object
 41  fx_carga                   151162 non-null  object
dtypes: float64(4), int64(18), object(20)
memory usage: 48.4+ MB

Luego de cargar los datos en Mongo se observó que varios string tienen trailing whitespaces. Se procede a limpiarlos antes de cargar los datos a Mongo

In [9]:
for column in df_locales.columns:
    if df_locales[column].dtype == "object":
        df_locales[column] = df_locales[column].str.strip()

Pasamos las coordenadas x y y de los locales a un formato más manejable.

In [10]:
from pyproj import CRS, Transformer

# 1. Define la proyección UTM (zona 30N para Madrid) y la proyección geográfica (WGS84)
utm_crs = CRS("EPSG:25830")  # UTM Zone 30N
wgs84_crs = CRS("EPSG:4326")  # WGS84 (latitud y longitud)

# 2. Crea el transformador de coordenadas
transformer = Transformer.from_crs(utm_crs, wgs84_crs)

# 3. Función para convertir coordenadas UTM a latitud y longitud
def utm_to_latlon(x, y):
    lat, lon = transformer.transform(x, y)
    return lat, lon

In [11]:
df_locales[['latitud', 'longitud']] = df_locales.apply(lambda row: utm_to_latlon(row['coordenada_x_local'], row['coordenada_y_local']), axis=1, result_type='expand')

In [12]:
df_locales.head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,cod_postal,hora_apertura1,hora_cierre1,fx_carga,latitud,longitud
0,20000596,2,ARGANZUELA,203,CHOPERA,3,2043,43,440788.6,4471857.5,...,SIN AGRUPACION,PB,D1,LA CAÑA,28045,09:00,NaN,2023-12-08 07:01:00.047,40.395216,-3.697706
1,20000605,2,ARGANZUELA,201,IMPERIAL,1,2107,107,439316.6,4472540.5,...,SIN AGRUPACION,PB,01,CAFETERIA PIRAMIDES,28005,NaN,NaN,2023-12-08 07:01:00.047,40.401263,-3.715114
2,20000669,2,ARGANZUELA,202,ACACIAS,2,2096,96,439770.6,4472407.5,...,SIN AGRUPACION,PB,M1,BAR MELILLA,28005,NaN,NaN,2023-12-08 07:01:00.047,40.400098,-3.709752
3,20000709,2,ARGANZUELA,202,ACACIAS,2,2029,29,440355.6,4472282.5,...,SIN AGRUPACION,PB,IZ,SUPERMERCADOS SIMPLY,28005,NaN,NaN,2023-12-08 07:01:00.047,40.399014,-3.702847
4,20000721,2,ARGANZUELA,201,IMPERIAL,1,2089,89,439312.6,4472870.5,...,SIN AGRUPACION,PB,C,ARROCERIA IMPERIAL,28005,NaN,NaN,2023-12-08 07:01:00.047,40.404236,-3.715193

## Fichero de actividades:

In [13]:
df_actividades = pd.read_csv('actividadeconomica202312.csv', sep = ';')

C:\Users\Andrés\AppData\Local\Temp\ipykernel_5188\1693388759.py:1: DtypeWarning: Columns (42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df_actividades = pd.read_csv('actividadeconomica202312.csv', sep = ';')

Partiendo del warning sobre las columnas 42 y 44 al importar los datos. Revisamos estas columnas:

In [14]:
df_actividades.head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe,fx_carga,fx_datos_ini,fx_datos_fin
0,270574777,20,SAN BLAS-CANILLEJAS,2004,ARCOS,4,20044,44,0.00,0.0,...,CAMPAMENTO DE VERANO CEIP MARIA MOLINER,P,EDUCACIÓN,85,EDUCACIÓN,855002,"ENSEÑANZA NO REGLADA (DEPORTIVA Y RECREATIVA, ...",2023-12-08 07:00:45.89,2023-12-01,2023-12-01
1,270574779,20,SAN BLAS-CANILLEJAS,2004,ARCOS,4,20044,44,0.00,0.0,...,CAMPAMENTO VERANO CEE FUNDACION GOYENECHE,P,EDUCACIÓN,85,EDUCACIÓN,855002,"ENSEÑANZA NO REGLADA (DEPORTIVA Y RECREATIVA, ...",2023-12-08 07:00:45.89,2023-12-01,2023-12-01
2,270574786,11,CARABANCHEL,1101,COMILLAS,1,11013,13,0.00,0.0,...,COLEGIO PUBLICO PERU,P,EDUCACIÓN,85,EDUCACIÓN,855002,"ENSEÑANZA NO REGLADA (DEPORTIVA Y RECREATIVA, ...",2023-12-08 07:00:45.89,2023-12-01,2023-12-01
3,270574793,16,HORTALEZA,1606,VALDEFUENTES,6,16124,124,448470.03,4482377.0,...,SUPERCOR,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",472206,"COMERCIO AL POR MENOR DE AVES, HUEVOS Y CAZA S...",2023-12-08 07:00:45.89,2023-12-01,2023-12-01
4,270574793,16,HORTALEZA,1606,VALDEFUENTES,6,16124,124,448470.03,4482377.0,...,SUPERCOR,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",472401,COMERCIO AL POR MENOR DE PAN Y PRODUCTOS DE PA...,2023-12-08 07:00:45.89,2023-12-01,2023-12-01

In [15]:
df_actividades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169559 entries, 0 to 169558
Data columns (total 49 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_local                   169559 non-null  int64
 1   id_distrito_local          169559 non-null  int64
 2   desc_distrito_local        169559 non-null  object
 3   id_barrio_local            169559 non-null  int64
 4   desc_barrio_local          169559 non-null  object
 5   cod_barrio_local           169559 non-null  int64
 6   id_seccion_censal_local    169559 non-null  int64
 7   desc_seccion_censal_local  169559 non-null  int64
 8   coordenada_x_local         169559 non-null  float64
 9   coordenada_y_local         169559 non-null  float64
 10  id_tipo_acceso_local       169559 non-null  int64
 11  desc_tipo_acceso_local     169559 non-null  object
 12  id_situacion_local         169559 non-null  int64
 13  desc_situacion_local       169559 non-null  object
 14  id_vial_edificio           169559 non-null  int64
 15  clase_vial_edificio        169559 non-null  object
 16  desc_vial_edificio         169559 non-null  object
 17  id_ndp_edificio            169559 non-null  int64
 18  id_clase_ndp_edificio      169559 non-null  int64
 19  nom_edificio               169559 non-null  object
 20  num_edificio               169559 non-null  int64
 21  cal_edificio               169559 non-null  object
 22  secuencial_local_PC        169559 non-null  int64
 23  id_vial_acceso             169559 non-null  int64
 24  clase_vial_acceso          169559 non-null  object
 25  desc_vial_acceso           169559 non-null  object
 26  id_ndp_acceso              169559 non-null  int64
 27  id_clase_ndp_acceso        169559 non-null  int64
 28  nom_acceso                 169559 non-null  object
 29  num_acceso                 169559 non-null  int64
 30  cal_acceso                 169559 non-null  object
 31  coordenada_x_agrupacion    16132 non-null   float64
 32  coordenada_y_agrupacion    16132 non-null   float64
 33  id_agrupacion              169559 non-null  int64
 34  nombre_agrupacion          169559 non-null  object
 35  id_tipo_agrup              169559 non-null  int64
 36  desc_tipo_agrup            169559 non-null  object
 37  id_planta_agrupado         167690 non-null  object
 38  id_local_agrupado          104619 non-null  object
 39  rotulo                     169559 non-null  object
 40  id_seccion                 169559 non-null  object
 41  desc_seccion               169559 non-null  object
 42  id_division                169559 non-null  object
 43  desc_division              169559 non-null  object
 44  id_epigrafe                169559 non-null  object
 45  desc_epigrafe              169559 non-null  object
 46  fx_carga                   169559 non-null  object
 47  fx_datos_ini               169559 non-null  object
 48  fx_datos_fin               169559 non-null  object
dtypes: float64(4), int64(19), object(26)
memory usage: 63.4+ MB

In [16]:
df_actividades['id_division'].unique()

array(['85', '47', '-1', '00', '56', '52', '46', '94', '68', '84', '55',
       '96', '93', '86', '70', '82', '39', '10', '88', '45', '95', '75',
       '62', '81', '92', '33', '59', '35', '41', '66', '90', '73', '18',
       '09', '91', '61', '71', '87', '64', '69', '99', '65', '38', '14',
       '79', '74', '63', '43', '16', '53', '58', '80', '31', '49', '25',
       '15', '32', '77', '26', '72', '13', '28', '20', '42', '27', 'PT',
       '60', '29', '78', '23', '17', '22', '24', '36', '51', 56, 85, 84,
       96, 47, 93, 0, 92, 95, 45, 43, 68, 87, 55, 53, 61, 82, 79, 74, 86,
       90, 75, 52, 21, 65, 94, 46, 33, 31, 66, 14, 88, 41, 35, 64, 69, 59,
       25, 91, 10, 71, 73, -1, 70, 49, 39, 81, 18, 77, 38, 20, 16, 27, 23,
       58, 32, 42, 37, 28, 15, 62, 99, 63, 60, 29, 80, 72, 13, 22, 78, 26,
       30, 24, 17, 36, 51, 11, 1, '21', '30', '01', '11', '37', '08',
       '02', 12], dtype=object)

In [17]:
df_actividades['id_epigrafe'].unique()

array(['855002', '472206', '472401', '-1', '000000', '477101', '563002',
       '472204', '561004', '521001', '471902', '463101', '949902',
       '472201', '472202', '471101', '472407', '683001', '840001',
       '561001', '551001', '474201', '562902', '562901', '561006',
       '562903', '561005', '960203', '931008', '472102', '472302',
       '862003', '472301', '682001', '477301', '475201', '473001',
       '563005', '702001', '854001', '851001', '851002', '821001',
       '472911', '562101', '551002', '563007', '463902', '390001',
       '474102', '932002', '477806', '471104', '475906', '869007',
       '472101', '477701', '101001', '931009', '881001', '471102',
       '477201', '474301', '476101', '960201', '477808', '522001',
       '869005', '931001', '475101', '960206', '477602', '452002',
       '551005', '952005', '472404', '477901', '559001', '750003',
       '463102', '951001', '869009', '522003', '620001', '477501',
       '812001', '561007', '477801', '853003', '960202', '920002',
       '949101', '475202', '551004', '854002', '331001', '591001',
       '750005', '472908', '350001', '562904', '472904', '452003',
       '411001', '561002', '551003', '661002', '861002', '900001',
       '464501', '750002', '730001', '47800101', '472905', '472205',
       '463904', '471901', '475902', '522002', '47800107', '552001',
       '472405', '181002', '829001', '681001', '869001', '452001',
       '960205', '472909', '469001', '475205', '090001', '910001',
       '461201', '472901', '472907', '932007', '467002', '610001',
       '463905', '451002', '701001', '472402', '710001', '562905',
       '870001', '463202', '641001', '472406', '472502', '464902',
       '107001', '522004', '862001', '472403', '960902', '649001',
       '710002', '691001', '475206', '475901', '463401', '990001',
       '651001', '479001', '952001', '380001', '813001', '952002',
       '900003', '662001', '855003', '854003', '141001', '472501',
       '861001', '952004', '108001', '559002', '463901', '960101',
       '960901', '472902', '920001', '350002', '451001', '474302',
       '790001', '461701', '477601', '692001', '475903', '852002',
       '749001', '477807', '412001', '464801', '47800108', '559003',
       '750004', '476401', '631001', '862002', '932006', '869008',
       '181001', '475907', '432001', '452004', '160001', '869003',
       '561008', '464401', '476501', '532001', '475203', '464601',
       '692002', '472203', '581001', '889002', '801001', '476201',
       '475401', '477805', '310002', '610002', '463201', '851003',
       '494001', '250003', '454001', '477402', '151001', '477401',
       '453001', '472601', '952003', '960903', '741001', '476403',
       '910002', '477403', '321001', '931003', '691002', '742001',
       '325001', '855001', '811001', '853002', '475905', '771001',
       '439001', '466002', '479002', '324001', '960301', '261001',
       '464301', '720001', '464602', '931002', '130001', '853001',
       '475301', '823001', '105002', '463906', '280001', '464101',
       '181003', '852001', '433001', '467001', '461601', '949201',
       '852003', '474101', '461501', '802001', '464201', '465001',
       '477802', '201001', '773001', '310001', '464903', '463301',
       '329001', '476301', '420001', '466001', '472906', '463501',
       '270002', '454002', '472903', '472207', '563004', '472303',
       '471103', '477603', '332001', '563003', 'PTECO1', '472910',
       '475904', '182001', '563001', '493001', '143001', '142001',
       '47800111', '960401', '477804', '851009', '852004', '600001',
       '932004', '592001', '851007', '461301', '563006', '463803',
       '960403', '932001', '461801', '869002', '869010', '862004',
       '103001', '475204', '750001', '290001', '960904', '851008',
       '477803', '661001', '781001', '931010', '561003', '250001',
       '461401', '270001', '203001', '772001', '772002', '463701',
       '230006', '230001', '230002', '170001', '553001', '461802',
       '463903', '932005', '220001', '240001', '230003', '266001',
       '360001', '464701', '510001', '108005', '960204', '869004',
       '250002', '999', '462001', 561004, 561005, 852001, 840001, 562902,
       851001, 851002, 853003, 960201, 561006, 474201, 932001, 931008,
       960203, 472911, 471101, 471102, 0, 477101, 477201, 471902, 472907,
       472901, 472407, 563005, 472205, 472302, 472405, 475907, 472102,
       472202, 472201, 472402, 920002, 561001, 477501, 952004, 474102,
       851003, 472601, 563004, 952005, 475201, 931002, 472908, 960901,
       471104, 960902, 561002, 452002, 433001, 472401, 951001, 683001,
       870001, 551004, 472206, 852003, 563002, 855001, 432001, 477602,
       454001, 562903, 475205, 532001, 475905, 477801, 477701, 610002,
       439001, 821001, 932002, 790001, 853002, 741001, 862001, 452004,
       472404, 900001, 960206, 475906, 477808, 551001, 960101, 477601,
       869003, 750002, 551002, 521001, 475101, 472403, 472203, 210001,
       852002, 855002, 651001, 949902, 462001, 475903, 472204, 331001,
       310002, 475901, 932006, 479001, 477806, 472502, 661002, 472406,
       869007, 461601, 479002, 960202, 471103, 473001, 472902, 949101,
       931003, 141001, 472301, 869005, 477402, 960205, 476201, 477603,
       477301, 869009, 881001, 466002, 952002, 562905, 931001, 411001,
       920001, 350001, 641001, 464101, 472904, 862003, 471901, 691002,
       472910, 931009, 562904, 861002, 472101, 591001, 852004, 463301,
       476101, 931010, 750003, 861001, 854003, 451001, 453001, 476401,
       561007, 476403, 472207, 250003, 910001, 105002, 889002, 476501,
       475902, 710001, 851007, 472501, 952003, 522002, 472905, 464801,
       960401, 476301, 474302, 452001, 851009, 960904, 730001, 463902,
       742001, 823001, -1, 701001, 412001, 494001, 390001, 464902, 853001,
       811001, 475401, 181002, 465001, 181001, 854002, 108001, 463401,
       493001, 467001, 812001, 773001, 380001, 203001, 477805, 563007,
       932007, 461701, 160001, 107001, 960903, 463901, 310001, 201001,
       463903, 270002, 230003, 464602, 469001, 682001, 691001, 463906,
       463101, 869001, 461301, 350002, 581001, 325001, 420001, 431001,
       464903, 522003, 949201, 101001, 477901, 475203, 461801, 855003,
       250002, 692001, 475206, 370001, 280001, 862002, 230004, 103001,
       771001, 452003, 475204, 750004, 474101, 475202, 474301, 702001,
       662001, 932005, 463201, 563001, 562901, 47800108, 151001, 620001,
       551005, 477807, 463802, 990001, 749001, 102003, 710002, 592001,
       464201, 563003, 960204, 559003, 522004, 472906, 475904, 477802,
       900003, 869008, 475301, 464501, 610001, 631001, 522001, 829001,
       869002, 451002, 563006, 454002, 104001, 559002, 661001, 869010,
       652001, 600001, 463905, 477403, 290001, 47800101, 181003, 960403,
       801001, 463701, 464601, 720001, 461802, 130001, 900002, 322001,
       220001, 463501, 552001, 329001, 466001, 464301, 692002, 949901,
       321001, 813001, 781001, 649001, 803001, 681001, 772002, 772001,
       551003, 952001, 464401, 750005, 477401, 152001, 108005, 477803,
       230005, 472303, 559001, 472903, 854001, 743001, 463302, 461501,
       477804, 467002, 561003, 250001, 562101, 932004, 463601, 851008,
       750001, 642001, 461201, 143001, 332001, 461101, 270001, 461401,
       931006, 264001, 265001, 464901, 261001, 263001, 142001, 300001,
       862004, 802001, 582001, 240001, 491001, 230001, 101002, 463803,
       170001, 360001, 182001, 960301, 267001, 268001, 464701, 266001,
       999, 463202, 510001, 472909, 463303, 204001, 105001, 869006,
       230002, 102001, 463102, 107002, 110001, 931004, 663001, 47800104,
       782001, 643001, 553001, 822001, 324001, 202001, 230006, 205001,
       262001, 869004, 109001, 106001, 47800105, 478001, 10001, '102001',
       '101002', '105001', '464901', '869006', '322001', '478001',
       '476402', '463302', '265001', '431001', '463802', '230005',
       '782001', '210001', '47800105', '743001', '300001', '663001',
       '152001', '639001', '582001', '822001', '109001', '960402',
       '010002', '110001', '463601', '47800104', '230004', '101003',
       '463303', '652001', '642001', '370001', '803001', '102003',
       '010001', '463805', '643001', '080001', '020001', '108002',
       '107002', '491001', '774001', '492001', 463904, 463805, 463804,
       101003, 561008, 108003, 10002, 47800111, 47800109, 476402, 910002,
       639001, 120001, 102002, 108004, 103002], dtype=object)

En la columna 42, todos los valores menos "PT" son numéricos, sin embargo la columna es de tipo object.
En la columna 44, todos los valores menos "PTECO" son númericos, sin embargo la columna también es de tipo object.

Convertimos el tipo de las columnas 42 y 44 a int64

In [18]:
df_actividades['id_division'] = pd.to_numeric(df_actividades['id_division'], errors = 'coerce')
df_actividades['id_epigrafe']  = pd.to_numeric(df_actividades['id_epigrafe'], errors = 'coerce')
df_actividades['id_division'] = df_actividades['id_division'].replace(np.nan, 999).infer_objects(copy=False)
df_actividades['id_epigrafe'] = df_actividades['id_epigrafe'].replace(np.nan, 999).infer_objects(copy=False)
df_actividades['id_division'] = df_actividades['id_division'].astype('Int64')
df_actividades['id_epigrafe'] = df_actividades['id_epigrafe'].astype('Int64')

In [19]:
df_actividades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169559 entries, 0 to 169558
Data columns (total 49 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_local                   169559 non-null  int64
 1   id_distrito_local          169559 non-null  int64
 2   desc_distrito_local        169559 non-null  object
 3   id_barrio_local            169559 non-null  int64
 4   desc_barrio_local          169559 non-null  object
 5   cod_barrio_local           169559 non-null  int64
 6   id_seccion_censal_local    169559 non-null  int64
 7   desc_seccion_censal_local  169559 non-null  int64
 8   coordenada_x_local         169559 non-null  float64
 9   coordenada_y_local         169559 non-null  float64
 10  id_tipo_acceso_local       169559 non-null  int64
 11  desc_tipo_acceso_local     169559 non-null  object
 12  id_situacion_local         169559 non-null  int64
 13  desc_situacion_local       169559 non-null  object
 14  id_vial_edificio           169559 non-null  int64
 15  clase_vial_edificio        169559 non-null  object
 16  desc_vial_edificio         169559 non-null  object
 17  id_ndp_edificio            169559 non-null  int64
 18  id_clase_ndp_edificio      169559 non-null  int64
 19  nom_edificio               169559 non-null  object
 20  num_edificio               169559 non-null  int64
 21  cal_edificio               169559 non-null  object
 22  secuencial_local_PC        169559 non-null  int64
 23  id_vial_acceso             169559 non-null  int64
 24  clase_vial_acceso          169559 non-null  object
 25  desc_vial_acceso           169559 non-null  object
 26  id_ndp_acceso              169559 non-null  int64
 27  id_clase_ndp_acceso        169559 non-null  int64
 28  nom_acceso                 169559 non-null  object
 29  num_acceso                 169559 non-null  int64
 30  cal_acceso                 169559 non-null  object
 31  coordenada_x_agrupacion    16132 non-null   float64
 32  coordenada_y_agrupacion    16132 non-null   float64
 33  id_agrupacion              169559 non-null  int64
 34  nombre_agrupacion          169559 non-null  object
 35  id_tipo_agrup              169559 non-null  int64
 36  desc_tipo_agrup            169559 non-null  object
 37  id_planta_agrupado         167690 non-null  object
 38  id_local_agrupado          104619 non-null  object
 39  rotulo                     169559 non-null  object
 40  id_seccion                 169559 non-null  object
 41  desc_seccion               169559 non-null  object
 42  id_division                169559 non-null  Int64
 43  desc_division              169559 non-null  object
 44  id_epigrafe                169559 non-null  Int64
 45  desc_epigrafe              169559 non-null  object
 46  fx_carga                   169559 non-null  object
 47  fx_datos_ini               169559 non-null  object
 48  fx_datos_fin               169559 non-null  object
dtypes: Int64(2), float64(4), int64(19), object(24)
memory usage: 63.7+ MB

In [20]:
df_actividades.nunique()

id_local                     151161
id_distrito_local                21
desc_distrito_local              21
id_barrio_local                 131
desc_barrio_local               131
cod_barrio_local                  9
id_seccion_censal_local        2418
desc_seccion_censal_local       222
coordenada_x_local            37975
coordenada_y_local            20327
id_tipo_acceso_local              3
desc_tipo_acceso_local            3
id_situacion_local                7
desc_situacion_local              7
id_vial_edificio               6393
clase_vial_edificio              25
desc_vial_edificio             6161
id_ndp_edificio               65696
id_clase_ndp_edificio             1
nom_edificio                      2
num_edificio                    681
cal_edificio                     30
secuencial_local_PC             286
id_vial_acceso                 6555
clase_vial_acceso                25
desc_vial_acceso               6303
id_ndp_acceso                 72142
id_clase_ndp_acceso               1
nom_acceso                        2
num_acceso                      691
cal_acceso                       31
coordenada_x_agrupacion         365
coordenada_y_agrupacion         360
id_agrupacion                   426
nombre_agrupacion               417
id_tipo_agrup                    12
desc_tipo_agrup                  12
id_planta_agrupado               20
id_local_agrupado              3467
rotulo                        80141
id_seccion                       22
desc_seccion                     22
id_division                      83
desc_division                    83
id_epigrafe                     438
desc_epigrafe                   439
fx_carga                        121
fx_datos_ini                      1
fx_datos_fin                      1
dtype: int64

Eliminamos las mismas columnas que tienen solo un valor, al igual que en el fichero de Locales

In [21]:
df_actividades= df_actividades.drop(['fx_datos_ini','fx_datos_fin', 'id_clase_ndp_edificio', 'id_clase_ndp_acceso'], axis = 1);

In [22]:
df_actividades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169559 entries, 0 to 169558
Data columns (total 45 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_local                   169559 non-null  int64
 1   id_distrito_local          169559 non-null  int64
 2   desc_distrito_local        169559 non-null  object
 3   id_barrio_local            169559 non-null  int64
 4   desc_barrio_local          169559 non-null  object
 5   cod_barrio_local           169559 non-null  int64
 6   id_seccion_censal_local    169559 non-null  int64
 7   desc_seccion_censal_local  169559 non-null  int64
 8   coordenada_x_local         169559 non-null  float64
 9   coordenada_y_local         169559 non-null  float64
 10  id_tipo_acceso_local       169559 non-null  int64
 11  desc_tipo_acceso_local     169559 non-null  object
 12  id_situacion_local         169559 non-null  int64
 13  desc_situacion_local       169559 non-null  object
 14  id_vial_edificio           169559 non-null  int64
 15  clase_vial_edificio        169559 non-null  object
 16  desc_vial_edificio         169559 non-null  object
 17  id_ndp_edificio            169559 non-null  int64
 18  nom_edificio               169559 non-null  object
 19  num_edificio               169559 non-null  int64
 20  cal_edificio               169559 non-null  object
 21  secuencial_local_PC        169559 non-null  int64
 22  id_vial_acceso             169559 non-null  int64
 23  clase_vial_acceso          169559 non-null  object
 24  desc_vial_acceso           169559 non-null  object
 25  id_ndp_acceso              169559 non-null  int64
 26  nom_acceso                 169559 non-null  object
 27  num_acceso                 169559 non-null  int64
 28  cal_acceso                 169559 non-null  object
 29  coordenada_x_agrupacion    16132 non-null   float64
 30  coordenada_y_agrupacion    16132 non-null   float64
 31  id_agrupacion              169559 non-null  int64
 32  nombre_agrupacion          169559 non-null  object
 33  id_tipo_agrup              169559 non-null  int64
 34  desc_tipo_agrup            169559 non-null  object
 35  id_planta_agrupado         167690 non-null  object
 36  id_local_agrupado          104619 non-null  object
 37  rotulo                     169559 non-null  object
 38  id_seccion                 169559 non-null  object
 39  desc_seccion               169559 non-null  object
 40  id_division                169559 non-null  Int64
 41  desc_division              169559 non-null  object
 42  id_epigrafe                169559 non-null  Int64
 43  desc_epigrafe              169559 non-null  object
 44  fx_carga                   169559 non-null  object
dtypes: Int64(2), float64(4), int64(17), object(22)
memory usage: 58.5+ MB

## Fichero de licencias

In [23]:
df_licencias = pd.read_csv('licencias202312.csv', sep = ';')

In [24]:
df_licencias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150829 entries, 0 to 150828
Data columns (total 49 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_local                      150829 non-null  int64
 1   id_distrito_local             150829 non-null  int64
 2   desc_distrito_local           150829 non-null  object
 3   id_barrio_local               150829 non-null  int64
 4   desc_barrio_local             150829 non-null  object
 5   cod_barrio_local              150829 non-null  int64
 6   id_seccion_censal_local       150829 non-null  int64
 7   desc_seccion_censal_local     150829 non-null  int64
 8   coordenada_x_local            150829 non-null  float64
 9   coordenada_y_local            150829 non-null  float64
 10  id_tipo_acceso_local          150829 non-null  int64
 11  desc_tipo_acceso_local        150829 non-null  object
 12  id_situacion_local            150829 non-null  int64
 13  desc_situacion_local          150829 non-null  object
 14  id_ndp_edificio               150829 non-null  int64
 15  id_clase_ndp_edificio         150829 non-null  int64
 16  id_vial_edificio              150829 non-null  int64
 17  clase_vial_edificio           150829 non-null  object
 18  desc_vial_edificio            150829 non-null  object
 19  nom_edificio                  150829 non-null  object
 20  num_edificio                  150829 non-null  int64
 21  cal_edificio                  150829 non-null  object
 22  secuencial_local_PC           150829 non-null  int64
 23  id_ndp_acceso                 150829 non-null  int64
 24  id_clase_ndp_acceso           150829 non-null  int64
 25  id_vial_acceso                150829 non-null  int64
 26  clase_vial_acceso             150829 non-null  object
 27  desc_vial_acceso              150829 non-null  object
 28  nom_acceso                    150829 non-null  object
 29  num_acceso                    150829 non-null  int64
 30  cal_acceso                    150829 non-null  object
 31  coordenada_x_agrupacion       9273 non-null    float64
 32  coordenada_y_agrupacion       9273 non-null    float64
 33  id_agrupacion                 150829 non-null  int64
 34  nombre_agrupacion             150829 non-null  object
 35  id_tipo_agrup                 150829 non-null  int64
 36  desc_tipo_agrup               150829 non-null  object
 37  id_planta_agrupado            150622 non-null  object
 38  id_local_agrupado             115750 non-null  object
 39  rotulo                        150829 non-null  object
 40  ref_licencia                  150829 non-null  object
 41  id_tipo_licencia              150829 non-null  int64
 42  desc_tipo_licencia            150829 non-null  object
 43  id_tipo_situacion_licencia    150829 non-null  int64
 44  desc_tipo_situacion_licencia  150829 non-null  object
 45  Fecha_Dec_Lic                 150829 non-null  object
 46  fx_carga                      150829 non-null  object
 47  fx_datos_ini                  150829 non-null  object
 48  fx_datos_fin                  150829 non-null  object
dtypes: float64(4), int64(21), object(24)
memory usage: 56.4+ MB

In [25]:
df_licencias.nunique()

id_local                         74139
id_distrito_local                   21
desc_distrito_local                 21
id_barrio_local                    131
desc_barrio_local                  131
cod_barrio_local                     9
id_seccion_censal_local           2376
desc_seccion_censal_local          222
coordenada_x_local               26528
coordenada_y_local               16665
id_tipo_acceso_local                 3
desc_tipo_acceso_local               3
id_situacion_local                   7
desc_situacion_local                 7
id_ndp_edificio                  41048
id_clase_ndp_edificio                1
id_vial_edificio                  5246
clase_vial_edificio                 23
desc_vial_edificio                5088
nom_edificio                         2
num_edificio                       545
cal_edificio                        28
secuencial_local_PC                129
id_ndp_acceso                    44353
id_clase_ndp_acceso                  1
id_vial_acceso                    5334
clase_vial_acceso                   23
desc_vial_acceso                  5169
nom_acceso                           2
num_acceso                         557
cal_acceso                          31
coordenada_x_agrupacion            284
coordenada_y_agrupacion            281
id_agrupacion                      316
nombre_agrupacion                  312
id_tipo_agrup                       11
desc_tipo_agrup                     11
id_planta_agrupado                  17
id_local_agrupado                 2039
rotulo                           52231
ref_licencia                    150297
id_tipo_licencia                     5
desc_tipo_licencia                   5
id_tipo_situacion_licencia           9
desc_tipo_situacion_licencia         9
Fecha_Dec_Lic                     5946
fx_carga                           117
fx_datos_ini                         1
fx_datos_fin                         1
dtype: int64

Eliminamos las mismas columnas que tienen solo un valor, al igual que en el fichero de Locales y Actividades

In [26]:
df_licencias= df_licencias.drop(['fx_datos_ini','fx_datos_fin', 'id_clase_ndp_edificio', 'id_clase_ndp_acceso'], axis = 1);

## Fichero Terrazas

In [27]:
df_terrazas = pd.read_csv('terrazas202312.csv', sep = ';')

In [28]:
df_terrazas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6788 entries, 0 to 6787
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_terraza                      6788 non-null   int64
 1   id_local                        6788 non-null   int64
 2   id_distrito_local               6788 non-null   int64
 3   desc_distrito_local             6788 non-null   object
 4   id_barrio_local                 6788 non-null   int64
 5   desc_barrio_local               6788 non-null   object
 6   id_ndp_edificio                 6788 non-null   int64
 7   id_clase_ndp_edificio           6788 non-null   int64
 8   id_vial_edificio                6788 non-null   int64
 9   clase_vial_edificio             6788 non-null   object
 10  desc_vial_edificio              6788 non-null   object
 11  nom_edificio                    6788 non-null   object
 12  num_edificio                    6788 non-null   int64
 13  Cod_Postal                      6788 non-null   int64
 14  coordenada_x_local              6788 non-null   float64
 15  coordenada_y_local              6788 non-null   float64
 16  id_tipo_acceso_local            6788 non-null   int64
 17  desc_tipo_acceso_local          6788 non-null   object
 18  id_situacion_local              6788 non-null   int64
 19  desc_situacion_local            6788 non-null   object
 20  secuencial_local_PC             6788 non-null   int64
 21  Escalera                        123 non-null    object
 22  id_planta_agrupado              6784 non-null   object
 23  id_local_agrupado               5524 non-null   object
 24  coordenada_x_agrupacion         105 non-null    float64
 25  coordenada_y_agrupacion         105 non-null    float64
 26  rotulo                          6788 non-null   object
 27  id_periodo_terraza              6788 non-null   int64
 28  desc_periodo_terraza            6788 non-null   object
 29  id_situacion_terraza            6788 non-null   int64
 30  desc_situacion_terraza          6788 non-null   object
 31  Superficie_ES                   6788 non-null   float64
 32  Superficie_RA                   5610 non-null   float64
 33  Fecha_confir_ult_decreto_resol  6788 non-null   object
 34  id_ndp_terraza                  6788 non-null   int64
 35  id_clase_ndp_terraza            6788 non-null   int64
 36  id_vial                         6788 non-null   int64
 37  desc_clase                      6788 non-null   object
 38  desc_nombre                     6788 non-null   object
 39  nom_terraza                     6788 non-null   object
 40  num_terraza                     6788 non-null   int64
 41  cal_terraza                     6788 non-null   object
 42  desc_ubicacion_terraza          6788 non-null   object
 43  hora_ini_LJ_es                  6788 non-null   object
 44  hora_fin_LJ_es                  6788 non-null   object
 45  hora_ini_LJ_ra                  5610 non-null   object
 46  hora_fin_LJ_ra                  5610 non-null   object
 47  hora_ini_VS_es                  6788 non-null   object
 48  hora_fin_VS_es                  6788 non-null   object
 49  hora_ini_VS_ra                  5610 non-null   object
 50  hora_fin_VS_ra                  5610 non-null   object
 51  mesas_aux_es                    6788 non-null   int64
 52  mesas_aux_ra                    6549 non-null   float64
 53  mesas_es                        6788 non-null   int64
 54  mesas_ra                        6549 non-null   float64
 55  sillas_es                       6788 non-null   int64
 56  sillas_ra                       6549 non-null   float64
 57  cal_edificio                    6788 non-null   object
 58  fx_carga                        6788 non-null   object
 59  fx_datos_ini                    6788 non-null   object
 60  fx_datos_fin                    6788 non-null   object
dtypes: float64(9), int64(21), object(31)
memory usage: 3.2+ MB

In [29]:
df_terrazas.nunique()

id_terraza             6788
id_local               6788
id_distrito_local        21
desc_distrito_local      21
id_barrio_local         129
                       ...
sillas_ra               140
cal_edificio             14
fx_carga                  6
fx_datos_ini              1
fx_datos_fin              1
Length: 61, dtype: int64

In [30]:
df_terrazas= df_terrazas.drop(['fx_datos_ini','fx_datos_fin', 'id_clase_ndp_edificio'], axis = 1);

In [31]:
df_terrazas['id_clase_ndp_terraza'].nunique()

1

In [32]:
df_terrazas= df_terrazas.drop(['id_clase_ndp_terraza'], axis = 1);

In [33]:
df_terrazas.nunique()

id_terraza                        6788
id_local                          6788
id_distrito_local                   21
desc_distrito_local                 21
id_barrio_local                    129
desc_barrio_local                  129
id_ndp_edificio                   5781
id_vial_edificio                  1902
clase_vial_edificio                 18
desc_vial_edificio                1859
nom_edificio                         2
num_edificio                       318
Cod_Postal                          55
coordenada_x_local                5390
coordenada_y_local                5137
id_tipo_acceso_local                 5
desc_tipo_acceso_local               5
id_situacion_local                   5
desc_situacion_local                 5
secuencial_local_PC                 32
Escalera                            22
id_planta_agrupado                   3
id_local_agrupado                  348
coordenada_x_agrupacion             56
coordenada_y_agrupacion             56
rotulo                            5976
id_periodo_terraza                   2
desc_periodo_terraza                 2
id_situacion_terraza                 2
desc_situacion_terraza               2
Superficie_ES                     3181
Superficie_RA                     2800
Fecha_confir_ult_decreto_resol    1650
id_ndp_terraza                    5929
id_vial                           1834
desc_clase                          18
desc_nombre                       1791
nom_terraza                          2
num_terraza                        323
cal_terraza                         14
desc_ubicacion_terraza               9
hora_ini_LJ_es                      14
hora_fin_LJ_es                      22
hora_ini_LJ_ra                      11
hora_fin_LJ_ra                      15
hora_ini_VS_es                      15
hora_fin_VS_es                      22
hora_ini_VS_ra                      15
hora_fin_VS_ra                      14
mesas_aux_es                         7
mesas_aux_ra                         5
mesas_es                            59
mesas_ra                            55
sillas_es                          146
sillas_ra                          140
cal_edificio                        14
fx_carga                             6
dtype: int64

En resumen, la limpieza de datos consistió en verifiar que no se repitan los campos que deberían ser únicos (id_local) en todos los ficheros menos el de Actividades, corregir inconsistencias de tipos de datos y eliminar filas que no aportan información porque solamente tienen un valor.

In [34]:
for column in df_terrazas.columns:
    if df_terrazas[column].dtype == "object":
        df_terrazas[column] = df_terrazas[column].str.strip()

In [35]:
df_terrazas[(df_terrazas.desc_distrito_local == "ARGANZUELA")&(df_terrazas.desc_barrio_local == "ATOCHA")]

,id_terraza,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,id_ndp_edificio,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,...,hora_ini_VS_ra,hora_fin_VS_ra,mesas_aux_es,mesas_aux_ra,mesas_es,mesas_ra,sillas_es,sillas_ra,cal_edificio,fx_carga
17,719,270542907,2,ARGANZUELA,207,ATOCHA,20111950,874,CALLE,RETAMA,...,NaN,NaN,0,NaN,7,NaN,28,NaN,,2023-12-08 07:00:49.227
313,890,270296851,2,ARGANZUELA,207,ATOCHA,20111953,874,CALLE,RETAMA,...,10:00:00,00:00:00,0,0.0,14,14.0,50,50.0,,2023-12-08 07:00:49.227
902,720,20000468,2,ARGANZUELA,207,ATOCHA,20111956,874,CALLE,RETAMA,...,NaN,NaN,0,0.0,11,0.0,44,0.0,,2023-12-08 07:00:49.227
1804,3203,280018447,2,ARGANZUELA,207,ATOCHA,20112157,501700,CALLE,MENDEZ ALVARO,...,10:00:00,00:00:00,0,0.0,7,7.0,25,25.0,A,2023-12-08 07:00:49.23
2281,4899,280018446,2,ARGANZUELA,207,ATOCHA,20112157,501700,CALLE,MENDEZ ALVARO,...,10:00:00,00:00:00,0,0.0,8,8.0,32,32.0,A,2023-12-08 07:00:49.23
4954,19920,270304299,2,ARGANZUELA,207,ATOCHA,20111953,874,CALLE,RETAMA,...,10:00:00,00:00:00,0,0.0,10,10.0,35,35.0,,2023-12-08 07:00:49.237

In [36]:
df_terrazas[(df_terrazas.desc_distrito_local == "MONCLOA-ARAVACA")&(df_terrazas.desc_barrio_local == "VALDEMARIN")]

,id_terraza,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,id_ndp_edificio,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,...,hora_ini_VS_ra,hora_fin_VS_ra,mesas_aux_es,mesas_aux_ra,mesas_es,mesas_ra,sillas_es,sillas_ra,cal_edificio,fx_carga
4692,19579,280045401,9,MONCLOA-ARAVACA,905,VALDEMARIN,20151939,804700,CAMINO,ZARZUELA,...,10:00:00,00:00:00,0,0.0,24,24.0,89,89.0,,2023-12-08 07:00:49.233
6231,3898,280045768,9,MONCLOA-ARAVACA,905,VALDEMARIN,31019728,763525,AVENIDA,VALDEMARIN,...,NaN,NaN,0,NaN,9,NaN,36,NaN,,2023-12-08 07:00:49.237

# Relaciones entre ficheros

Revisamos las columnas en común entre el fichero de locales y de actividades:

In [37]:
columns_locales_actividades = set(df_locales.columns) & set(df_actividades.columns)

In [38]:
print(columns_locales_actividades, len(columns_locales_actividades))

{'coordenada_x_agrupacion', 'id_local', 'cal_acceso', 'clase_vial_acceso', 'coordenada_x_local', 'num_acceso', 'id_ndp_acceso', 'cal_edificio', 'cod_barrio_local', 'fx_carga', 'id_planta_agrupado', 'id_local_agrupado', 'secuencial_local_PC', 'id_vial_acceso', 'coordenada_y_agrupacion', 'desc_seccion_censal_local', 'id_vial_edificio', 'nom_acceso', 'clase_vial_edificio', 'desc_distrito_local', 'nombre_agrupacion', 'num_edificio', 'id_distrito_local', 'desc_vial_acceso', 'desc_tipo_agrup', 'desc_situacion_local', 'id_ndp_edificio', 'desc_vial_edificio', 'nom_edificio', 'id_tipo_agrup', 'id_agrupacion', 'desc_barrio_local', 'id_tipo_acceso_local', 'id_barrio_local', 'rotulo', 'id_situacion_local', 'desc_tipo_acceso_local', 'id_seccion_censal_local', 'coordenada_y_local'} 39

Todas las columnas en común es información repetida sobre el local, de manera que las eliminamos del fichero de actividades (no eliminamos id_local):

In [39]:
columns_locales_actividades.remove('id_local')

In [40]:
df_actividades = df_actividades.drop(columns_locales_actividades, axis = 1)

In [41]:
df_actividades.info()
df_actividades.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169559 entries, 0 to 169558
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_local       169559 non-null  int64
 1   id_seccion     169559 non-null  object
 2   desc_seccion   169559 non-null  object
 3   id_division    169559 non-null  Int64
 4   desc_division  169559 non-null  object
 5   id_epigrafe    169559 non-null  Int64
 6   desc_epigrafe  169559 non-null  object
dtypes: Int64(2), int64(1), object(4)
memory usage: 9.4+ MB

,id_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
0,270574777,P,EDUCACIÓN,85,EDUCACIÓN,855002,"ENSEÑANZA NO REGLADA (DEPORTIVA Y RECREATIVA, ..."
1,270574779,P,EDUCACIÓN,85,EDUCACIÓN,855002,"ENSEÑANZA NO REGLADA (DEPORTIVA Y RECREATIVA, ..."
2,270574786,P,EDUCACIÓN,85,EDUCACIÓN,855002,"ENSEÑANZA NO REGLADA (DEPORTIVA Y RECREATIVA, ..."
3,270574793,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",472206,"COMERCIO AL POR MENOR DE AVES, HUEVOS Y CAZA S..."
4,270574793,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHÍCULOS DE...",472401,COMERCIO AL POR MENOR DE PAN Y PRODUCTOS DE PA...

In [42]:
df_actividades[df_actividades['id_local'] == 270574777]

,id_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
0,270574777,P,EDUCACIÓN,85,EDUCACIÓN,855002,"ENSEÑANZA NO REGLADA (DEPORTIVA Y RECREATIVA, ..."
535,270574777,I,HOSTELERÍA,56,SERVICIOS DE COMIDAS Y BEBIDAS,562902,SERVICIOS DE COMEDOR EN CENTROS EDUCATIVOS Y C...

Al realizar una de las consultas en Mongo se notó que cuando el id_epigrafe es -1, no hay información de la actividad del local

In [43]:
# Ejemplo:
df_actividades[df_actividades['id_epigrafe'] == -1]

,id_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
5,270574796,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
9,270562010,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
10,270562013,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
11,270562016,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
22,270562166,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
...,...,...,...,...,...,...,...
169549,285034655,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
169550,285034669,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
169553,285034685,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
169557,285034693,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN
169558,285034694,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN,-1,VALOR NULO EN ORIGEN

Se procede a eliminar esas filas que no brindan información útil

In [44]:
df_actividades = df_actividades[df_actividades["id_epigrafe"] != -1]

In [45]:
df_actividades.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130267 entries, 0 to 169556
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_local       130267 non-null  int64
 1   id_seccion     130267 non-null  object
 2   desc_seccion   130267 non-null  object
 3   id_division    130267 non-null  Int64
 4   desc_division  130267 non-null  object
 5   id_epigrafe    130267 non-null  Int64
 6   desc_epigrafe  130267 non-null  object
dtypes: Int64(2), int64(1), object(4)
memory usage: 8.2+ MB

In [46]:
df_actividades.desc_seccion.unique()

array(['EDUCACIÓN',
       'COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACIÓN DE VEHÍCULOS DE MOTOR Y MOTOCICLETAS',
       'SIN ACTIVIDAD', 'HOSTELERÍA', 'TRANSPORTE Y ALMACENAMIENTO',
       'OTROS SERVICIOS', 'ACTIVIDADES INMOBILIARIAS',
       'ADMINISTRACIÓN PÚBLICA Y DEFENSA; SEGURIDAD SOCIAL OBLIGATORIA',
       'ACTIVIDADES ARTÍSTICAS, RECREATIVAS Y DE ENTRETENIMIENTO',
       'ACTIVIDADES SANITARIAS Y DE SERVICIOS SOCIALES',
       'ACTIVIDADES PROFESIONALES, CIENTÍFICAS Y TÉCNICAS',
       'ACTIVIDADES ADMINISTRATIVAS Y SERVICIOS AUXLIARES',
       'SUMINISTRO DE AGUA, ACTIVIDADES DE SANEAMIENTO, GESTIÓN DE RESIDUOS Y DESCONTAMINACIÓN',
       'INDUSTRIA MANUFACTURERA', 'INFORMACIÓN Y COMUNICACIONES',
       'SUMINISTRO DE ENERGÍA ELÉCTRICA, GAS, VAPOR Y AIRE ACONDICIONADO',
       'CONSTRUCCIÓN', 'ACTIVIDADES FINANCIERAS Y DE SEGUROS',
       'INDUSTRIAS EXTRACTIVAS',
       'ACTIVIDADES DE ORGANIZACIONES Y ORGANISMOS EXTRATERRITORIALES',
       'AGRICULTURA, GANADERÍA, SILVICULTURA Y PESCA'], dtype=object)

Los campos que quedan en df_actividades están relacionados sólamente a la actividad, y se conserva el campo de id_local, que establece la relación con los datos de cada local. Se sabe que un solo local puede tener varias actividades, y un mismo id_epígrafe puede estar asociado a varios locales

Se sigue el mismo proceso para los datos de licencias

In [47]:
columns_locales_licencias = set(df_locales.columns) & set(df_licencias.columns)

In [48]:
print(columns_locales_licencias, len(columns_locales_licencias))

{'coordenada_x_agrupacion', 'id_local', 'cal_acceso', 'clase_vial_acceso', 'coordenada_x_local', 'num_acceso', 'id_ndp_acceso', 'cal_edificio', 'cod_barrio_local', 'fx_carga', 'id_planta_agrupado', 'id_local_agrupado', 'secuencial_local_PC', 'id_vial_acceso', 'coordenada_y_agrupacion', 'desc_seccion_censal_local', 'id_vial_edificio', 'nom_acceso', 'clase_vial_edificio', 'desc_distrito_local', 'nombre_agrupacion', 'num_edificio', 'id_distrito_local', 'desc_vial_acceso', 'desc_tipo_agrup', 'desc_situacion_local', 'id_ndp_edificio', 'desc_vial_edificio', 'nom_edificio', 'id_tipo_agrup', 'id_agrupacion', 'desc_barrio_local', 'id_tipo_acceso_local', 'id_barrio_local', 'rotulo', 'id_situacion_local', 'desc_tipo_acceso_local', 'id_seccion_censal_local', 'coordenada_y_local'} 39

In [49]:
columns_locales_licencias.remove('id_local')
df_licencias = df_licencias.drop(columns_locales_licencias, axis = 1)

Cambiamos el formato de la columna de fecha a ISO date YYYY-MM-DD

In [50]:
df_licencias["Fecha_Dec_Lic"] = pd.to_datetime(df_licencias["Fecha_Dec_Lic"], format = '%d/%m/%Y')
df_licencias["Fecha_Dec_Lic"] = df_licencias["Fecha_Dec_Lic"].dt.strftime('%Y-%m-%d')

In [51]:
df_licencias.info()
df_licencias.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150829 entries, 0 to 150828
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id_local                      150829 non-null  int64
 1   ref_licencia                  150829 non-null  object
 2   id_tipo_licencia              150829 non-null  int64
 3   desc_tipo_licencia            150829 non-null  object
 4   id_tipo_situacion_licencia    150829 non-null  int64
 5   desc_tipo_situacion_licencia  150829 non-null  object
 6   Fecha_Dec_Lic                 150829 non-null  object
dtypes: int64(3), object(4)
memory usage: 8.1+ MB

id_local                         74139
ref_licencia                    150297
id_tipo_licencia                     5
desc_tipo_licencia                   5
id_tipo_situacion_licencia           9
desc_tipo_situacion_licencia         9
Fecha_Dec_Lic                     5946
dtype: int64

In [52]:
df_licencias[df_licencias['ref_licencia'].duplicated()].head()

,id_local,ref_licencia,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia,Fecha_Dec_Lic
6290,270453145,105/2001/02569,2,Licencia Urbanística,2,Concedida,2003-10-27
10448,270508372,108/2009/10818,2,Licencia Urbanística,2,Concedida,2009-12-17
11326,270522026,104/2009/06314,2,Licencia Urbanística,2,Concedida,2009-07-14
11456,270522399,109/2004/05076,2,Licencia Urbanística,2,Concedida,2009-10-21
12127,270518354,103/2010/00097,4,Transmisión de licencia Urbanística,2,Concedida,2010-02-18

In [53]:
df_licencias[df_licencias['ref_licencia'] == '105/2001/02569']

,id_local,ref_licencia,id_tipo_licencia,desc_tipo_licencia,id_tipo_situacion_licencia,desc_tipo_situacion_licencia,Fecha_Dec_Lic
826,270438785,105/2001/02569,2,Licencia Urbanística,2,Concedida,2003-10-27
6290,270453145,105/2001/02569,2,Licencia Urbanística,2,Concedida,2003-10-27

In [54]:
df_licencias.desc_tipo_situacion_licencia.value_counts()

desc_tipo_situacion_licencia
En tramitación                            45509
Concedida                                 43691
Tramitando Transmisión de Licencia        22573
Transmisión de Licencia Concedida         18567
Denegada                                  11945
VALOR NULO EN ORIGEN                       5984
Transmisión de Licencia Denegada           2312
Presentada (pendiente de comprobación)      247
Favorable no inspeccionada                    1
Name: count, dtype: int64

In [55]:
df_licencias[df_licencias.desc_tipo_situacion_licencia == "En tramitación"].nunique()

id_local                        33854
ref_licencia                    45507
id_tipo_licencia                    4
desc_tipo_licencia                  4
id_tipo_situacion_licencia          1
desc_tipo_situacion_licencia        1
Fecha_Dec_Lic                    3351
dtype: int64

Los campos que quedan en df_licencias están relacionados sólamente a la licencia, y se conserva el campo de id_local, que establece la relación con los datos de cada local. Se sabe que un solo local puede tener varias licencias, y una misma ref_licencia puede estar asociada a varios locales

Se sigue el mismo proceso para los datos de terrazas:

In [56]:
columns_locales_terrazas = set(df_locales.columns) & set(df_terrazas.columns)

In [57]:
print(columns_locales_terrazas, len(columns_locales_terrazas))

{'coordenada_x_agrupacion', 'id_local', 'coordenada_x_local', 'cal_edificio', 'fx_carga', 'id_planta_agrupado', 'id_local_agrupado', 'secuencial_local_PC', 'coordenada_y_agrupacion', 'id_vial_edificio', 'clase_vial_edificio', 'desc_distrito_local', 'num_edificio', 'id_distrito_local', 'desc_situacion_local', 'id_ndp_edificio', 'desc_vial_edificio', 'nom_edificio', 'desc_barrio_local', 'id_tipo_acceso_local', 'id_barrio_local', 'rotulo', 'id_situacion_local', 'desc_tipo_acceso_local', 'coordenada_y_local'} 25

In [58]:
columns_locales_terrazas.remove('id_local')
df_terrazas = df_terrazas.drop(columns_locales_terrazas, axis = 1)

In [59]:
df_terrazas.info()
df_terrazas.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6788 entries, 0 to 6787
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_terraza                      6788 non-null   int64
 1   id_local                        6788 non-null   int64
 2   Cod_Postal                      6788 non-null   int64
 3   Escalera                        123 non-null    object
 4   id_periodo_terraza              6788 non-null   int64
 5   desc_periodo_terraza            6788 non-null   object
 6   id_situacion_terraza            6788 non-null   int64
 7   desc_situacion_terraza          6788 non-null   object
 8   Superficie_ES                   6788 non-null   float64
 9   Superficie_RA                   5610 non-null   float64
 10  Fecha_confir_ult_decreto_resol  6788 non-null   object
 11  id_ndp_terraza                  6788 non-null   int64
 12  id_vial                         6788 non-null   int64
 13  desc_clase                      6788 non-null   object
 14  desc_nombre                     6788 non-null   object
 15  nom_terraza                     6788 non-null   object
 16  num_terraza                     6788 non-null   int64
 17  cal_terraza                     6788 non-null   object
 18  desc_ubicacion_terraza          6788 non-null   object
 19  hora_ini_LJ_es                  6788 non-null   object
 20  hora_fin_LJ_es                  6788 non-null   object
 21  hora_ini_LJ_ra                  5610 non-null   object
 22  hora_fin_LJ_ra                  5610 non-null   object
 23  hora_ini_VS_es                  6788 non-null   object
 24  hora_fin_VS_es                  6788 non-null   object
 25  hora_ini_VS_ra                  5610 non-null   object
 26  hora_fin_VS_ra                  5610 non-null   object
 27  mesas_aux_es                    6788 non-null   int64
 28  mesas_aux_ra                    6549 non-null   float64
 29  mesas_es                        6788 non-null   int64
 30  mesas_ra                        6549 non-null   float64
 31  sillas_es                       6788 non-null   int64
 32  sillas_ra                       6549 non-null   float64
dtypes: float64(5), int64(11), object(17)
memory usage: 1.7+ MB

id_terraza                        6788
id_local                          6788
Cod_Postal                          55
Escalera                            22
id_periodo_terraza                   2
desc_periodo_terraza                 2
id_situacion_terraza                 2
desc_situacion_terraza               2
Superficie_ES                     3181
Superficie_RA                     2800
Fecha_confir_ult_decreto_resol    1650
id_ndp_terraza                    5929
id_vial                           1834
desc_clase                          18
desc_nombre                       1791
nom_terraza                          2
num_terraza                        323
cal_terraza                         14
desc_ubicacion_terraza               9
hora_ini_LJ_es                      14
hora_fin_LJ_es                      22
hora_ini_LJ_ra                      11
hora_fin_LJ_ra                      15
hora_ini_VS_es                      15
hora_fin_VS_es                      22
hora_ini_VS_ra                      15
hora_fin_VS_ra                      14
mesas_aux_es                         7
mesas_aux_ra                         5
mesas_es                            59
mesas_ra                            55
sillas_es                          146
sillas_ra                          140
dtype: int64

Los datos que quedan en df_terrazas solamente describen información de las terrazas, no repiten información con los locales. Se establece la relación con los locales de manera que cada terraza está asignada a un id_local distinto. Y existen id_local que no tienen ninguna terraza asociada.

Se decide utilizar un modelo desnormalizado/emebebido en los locales para ingresar los datos en MongoDB. Se prioriza la eficiencia en la consulta de datos sobre la eficiencia en la actualización de datos.

# Modelado de datos en MongoDB

In [60]:
from pymongo import MongoClient

Se establece la conexión con Mongo

In [61]:
client = MongoClient("mongodb://localhost:27017/")
db = client["locales_madrid_mongo"]
locales_collection = db["locales_madrid"]

Se convierten los dataframes a listas de dicconarios

In [62]:
datos_locales = df_locales.to_dict(orient = "records")
datos_actividades = df_actividades.to_dict(orient = "records") 
datos_licencias = df_licencias.to_dict(orient = "records")
datos_terrazas = df_terrazas.to_dict(orient = "records")

Construcción del modelo embebido

In [63]:
datos_embebidos = {}

for actividad in datos_actividades:
    id_local = actividad["id_local"]
    del actividad["id_local"] # Se elimina el id_local del diccionario de actividad porque ya la actividad va a estar embebida dentro del local
    datos_embebidos.setdefault(id_local, {"actividades" : [], "licencias" : [], "terraza": []}) #Vacío si no existen los datos
    datos_embebidos[id_local]["actividades"].append(actividad)

for licencia in datos_licencias:
    id_local = licencia["id_local"]
    del licencia["id_local"]
    datos_embebidos.setdefault(id_local, {"actividades" : [], "licencias" : [], "terraza": []}) #Vacío si no existen los datos
    datos_embebidos[id_local]["licencias"].append(licencia)

for terraza in datos_terrazas:
    id_local = terraza["id_local"]
    del terraza["id_local"]
    datos_embebidos.setdefault(id_local, {"actividades" : [], "licencias" : [], "terraza": []}) #Vacío si no existen los datos
    datos_embebidos[id_local]["terraza"].append(terraza)

Inserción de datos en Mongo

In [64]:
for local in datos_locales:
    id_local = local["id_local"]
    info_embebida = datos_embebidos.get(id_local)
    if info_embebida:
        local.update(info_embebida)
    locales_collection.insert_one(local)

In [65]:
client.close()